.second {
  
    color: rgb(126, 81, 230);
    font-size: 20px;
}
.third{
    color: chocolate;
}

h1 {
    color: blue;
    font-size: 35px;
}
p {
    color: black;
    font-size: 20px;
}
h3 {
    color: darkred;
    font-size: 20px;
}
h2 {
    color: brown;
    font-size: 25px;
}
h4 {
    font-size: 24px;
    color: darkgoldenrod;
}